.AssetRow {
    padding: 8px;
    display: flex;
    align-items: center;

    .tradeLink {
        border-bottom: 1px dotted $s-color-neutral5;
        line-height: 24px;
        height: 24px;
        text-align: right;
        margin: 0 auto;
        cursor: pointer;
        text-decoration: none;
    }

    .s-button {
        min-width: 180px;
    }
}

.AssetRow__exists {
    color: $s-color-neutral5;
}

.AssetRow_flex3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 18px;
    border-top: solid 1px #dfe0e0;

    .tradeLink {
        line-height: 24px;
        text-align: right;
        width: 33%;
        height: auto;
        padding: 5px 5px;
        cursor: pointer;
        text-decoration: none;
    }
}
