.Sep24Modal {
    .Sep24Modal_content {
        .userAsset_Block {
            display: flex;
            justify-content: space-between;

            .BalanceBlock {
                display: flex;
                flex-direction: column;
                align-items: flex-end;
                justify-content: center;
                width: 100%;

                .assetBalance {
                    font-weight: 600;
                    font-style: normal;
                }

                .usdBalance {
                    font-size: 12px;
                    font-weight: normal;
                    color: #7ed085;
                }
            }
        }
    }
}
