node_modules/
dist/
.sass-cache/
src/images.js
src/env-consts.js

npm-debug.log
package-lock.json
api/package-lock.json

# OSX
*.DS_Store
.AppleDouble
.LSOverride
._*

.idea

directory/logos.json
directory/directory.json

api/setEnvironment.sh
api/setStagingEnvironment.sh
