language: node_js

git:
  depth: 10000
branches:
  only:
    - master
node_js:
  - "8"
install:
  - npm run setup
before_script:
  # - npm run lint || true
script:
  - npm run production
  - cd dist; echo "./fetchTravisBuild.sh stellarterm-build-output/stellarterm/stellarterm/${TRAVIS_BUILD_NUMBER}/${TRAVIS_JOB_NUMBER}/dist/index.html $(openssl dgst -sha256 index.html | sed 's/^.* //')"
  - npm run hash
