.AssetCardList{
  width: 100%;

  position: absolute;
  border: 1px solid rgb(189, 191, 192);
  border-top: none;
  border-radius: 0 0 2px 2px;
  z-index: 5;
  background-color: #fff;
  cursor: pointer;
  padding-bottom: 5px;
  text-align: left;
  line-height: 35px;
}

.AssetCardList_scrollable {
    overflow-y: auto;
    max-height: 230px;
}

.AssetCardList_card{
  margin: 1px 5px;
}

.AssetCardList_empty{
  font-size: 14px;
  margin-left: 20px;
}

.AssetCardList_reset {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    font-weight: 300;
    cursor: pointer;
    border: solid 1px #f6f6f6;

    &:hover {
        background-color: #fbfbfc;;
    }
}





