.SecretPhraseModalBlock-wrap{
    width: 100%;
    background-color: #fafafb;
    border-top: 2px solid #ECEDEE;
    padding: 28px 42px;
    display: flex;
    flex-direction: column;

    p{
        width: 100%;
    }
}
