.OfferTable {
    width: 100%;
    font-size: 16px;

    .OfferTable__header {
        display: flex;
        background: $s-color-neutral8;
        font-weight: bold;
        text-align: center;

        .OfferTable__header__item {
            width: 25%;
            padding: 4px 0;
        }
    }

    .OfferTable__table {
        width: 100%;

        .OfferTable__row_background {
            background: #fff;

            &:nth-child(2n) {
                background: #f9f9f9;
            }
        }

        .OfferTable__row {
            display: flex;
            width: 100%;

            &:hover {
                background: #fdfdc8 !important;
                cursor: pointer;
            }

            .OfferTable__row__item {
                width: 25%;
                padding: 4px 8px;
            }
        }
    }
}

.OfferTable_buy {
    text-align: right;

    .OfferTable__header {
        .OfferTable__header__item {
            &:first-child {
                width: 23%;
            }

            &:last-child {
                width: 27%;
            }
        }
    }
    .OfferTable__table {
        .OfferTable__row {
            .OfferTable__row__item {
                &:first-child {
                    text-align: center;
                    width: 23%;
                }

                &:last-child {
                    width: 27%;
                }
            }
        }
    }
}

.OfferTable_sell {
    text-align: left;

    .OfferTable__header {
        .OfferTable__header__item {
            &:first-child {
                width: 27%;
            }

            &:last-child {
                width: 23%;
            }
        }
    }
    .OfferTable__table {
        .OfferTable__row {
            .OfferTable__row__item {
                &:first-child {
                    width: 27%;
                }

                &:last-child {
                    text-align: center;
                    width: 23%;
                }
            }
        }
    }
}
