.OfferTable {
  width: 100%;
  text-align: right;
  font-size: 16px;
}
.OfferTable__table {
  width: 100%;
}

.OfferTable__header {
  display: flex;
  background: $s-color-neutral8;
  font-weight: bold;
  text-align: center;
}

.OfferTable__header__item {
  width: 30%;
  padding: 4px 0;
  &:first-child, &:last-child{
    width: 20%;
  }
}

.OfferTable__row_background{
  background: #fff;

  &:nth-child(2n){
    background: #f9f9f9;
  }
}

.OfferTable__row {
  display: flex;
  width: 100%;
}

.OfferTable__row:hover {
  background: #fdfdc8 !important;
  cursor: pointer;
}

.OfferTable__row__item {
  width: 30%;
  padding: 4px 8px 4px 2px; // Additional padding on the right sie since things are right aligned
  text-align: right;
  &:first-child, &:last-child{
    width: 20%;
  }
}


