.OfferTable {
    width: 100%;
    font-size: 14px;

    .OfferTable__header {
        display: flex;
        text-align: right;

        .header_text {
            font-weight: bold;
        }

        .pair_small {
            font-weight: 300;
            font-style: normal;
            color: #b8bbbc;
        }

        .OfferTable__header__item {
            width: 25%;
            padding: 5px 10px;
        }
    }

    .OfferTable__table {
        width: 100%;
        position: relative;
        cursor: pointer;

        .OfferTable__row_background {
            background: #fff;
            position: relative;

            &:hover .OfferTable_hoverBlock {
                display: inline-block;
            }

            .OfferTable__row {
                display: flex;
                width: 100%;
                border-top: solid 1px rgba(0, 0, 0, 0.05);

                .OfferTable__row__item {
                    text-align: right;
                    padding: 4px 10px;
                    width: 25%;
                }
            }

            .OfferTable_hoverBlock {
                background: rgba(0, 0, 0, 0.03);
                position: absolute;
                display: none;
                z-index: 5;
                width: 100%;
                height: 100%;
            }
        }
    }
}