.DesktopContent_link {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 14px 21px 14px 17px;
    border: solid 1px #bdbfc033;
    background-color: #f4f4f533;
    border-radius: 4px;
    margin-top: 20px;
    cursor: pointer;
    transition: all ease-in 0.2s;
    text-decoration: none;

    &:hover {
        padding-right: 16px;
    }

    .DesktopContent_link-logo {
        height: 56px;
        width: 56px;
        margin-right: 10px;
    }

    .DesktopContent_link-title {
        font-size: 18px;
        font-weight: normal;
        color: #505558;
    }


    .DesktopContent_link-arrow {
        margin-left: auto;
    }
}
