.Input_wrapper {
    display: flex;
    flex-direction: column;
    font-weight: normal;
    width: 100%;

    label {
        color: #1c2e3e;
        font-size: 14px;
        margin-bottom: 5px;
    }

    input {
        outline: none;
        height: 55px;
        border-radius: 2px;
        border: solid 1px #d7e0e4;
        background-color: #ffffff;
        color: #1c2e3e;
        width: 100%;

        padding: 1.2em;
        font-size: 14px;

        &:focus {
            border: solid 1px #69c76f;
        }

        &:disabled {
            cursor: not-allowed;
        }

        &.invalid {
            border: solid 1px #fe6d74;
        }

        &.withPrefix {
            padding-left: 4em;
        }

        &.bottomBoxy {
            border-radius: 2px 2px 0 0;
        }

        &.withPostfix {
            padding-right: calc(1.2em + 70px);
        }

        &[type='number'] {
            -moz-appearance:textfield;
        }

        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
            -webkit-appearance: none;
        }
    }

    .Input_input {
        position: relative;
        display: flex;
        width: 100%;
    }

    .Input_error-tooltip {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 20px;
        padding: 0 11px;
        background-color: #fe6d74;
        border-radius: 2px;
        color: #fff;
        left: 0;
        top: calc(100% + 5px);
        z-index: 2;
        font-size: 13px;

        &::after {
            content: "";
            position: absolute;
            left: 20px;
            top: -8px;
            border: 4px solid transparent;
            border-bottom: 4px solid #fe6d74;
        }
    }

    .Input_prefix {
        position: absolute;
        left: 17px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }

    .Input_postfix {
        position: absolute;
        right: 17px;
        top: 50%;
        transform: translateY(-50%);
        z-index: 5;
    }
}
