@import "SecretPhraseModalBlock/SecretPhraseModalBlock";

.LoginModal {
    background-color: #fff;
    width: 612px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    .LoginModal_content{
        padding: 35px
    }
}
