@import "./ManageTrust/ManageCurrentTrust";

.AddTrust_inputGroup {
  margin-bottom: 8px;
}

.AddTrust_errorList {
    margin-left: 2em;
}

.AddTrust_confirmation {
    margin-top: 1em;
    padding-bottom: 1em;
    padding-left: 20px;
    padding-right: 20px;

    .confirm_AssetCard {
        margin-bottom: 1em;
    }
}
