.AssetCardInRow {
    display: flex;
    flex-direction: row;
    align-items: center;

    .Row_logo {
        height: 20px;
        width: 20px;
        min-width: 20px;
        margin-right: 3px;
    }

    .Row_logo,
    span {
        line-height: 20px;
        vertical-align: middle;
    }

    .AssetCardInRow_domain{
        font-size: 12px!important;
        opacity: 0.6;
        margin-left: 1px;
        vertical-align: text-top;
        font-weight: 300!important;
    }
}

.unknown_small {
    display: inline-block;
    height: 20px;
    width: 20px;
    margin-right: 3px;

    .Unknown_circle {
        height: 100%;
        width: 100%;

        .assetSymbol {
            font-size: 12px;
        }
    }
}
