.SignChallengeWithMultisig_content {
    background-color: #fff;
    width: 800px;
    max-height: 100%;
    overflow-y: auto;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
}

.SignChallengeWithMultisig_asset {
    background-color: #f4f4f533;
    border-bottom: solid 1px #bdbfc033;
    padding: 0 30px;
}

.SignChallengeWithMultisig_main {
    padding: 25px 30px 21px;
}
