.AssetPairRow {
  border-top: 1px solid $s-color-neutral7;
  padding: 0.75em 18px;
  text-decoration: none;
  display: block;
}


.AssetPair {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.AssetPair__separator {
  width: 18px;
  height: 18px;
  border-top: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
  flex: 0 0 18px;
}
.AssetPair__card {
  flex: 1 0;
}

a.AssetPairRow:hover .AssetPair__separator {
  border-top: 1px solid $s-color-primary4;
  border-bottom: 1px solid $s-color-primary4;
}

