.AssetList {
  width: 100%;
}
.AssetList__head__cell {
  padding: 16px 16px;
  font-size: 16px;
}
.AssetList__head__amount {
  text-align: right;
}
.AssetList__asset {
  border-top: 1px solid $s-color-neutral7;
}
.AssetList__asset__assetCard {
  padding: 8px 16px;
}
.AssetList__asset__amount {
  text-align: right;
  padding: 0 16px;
  font-size: 16px;
}

