.AssetList {
  width: 100%;
  display: table;
  border-collapse: collapse;
}
.AssetList__head__row {
  display: table-row;
}
.AssetList__head__asset {
  text-align: center;
}
.AssetList__head__cell {
  padding: 12px;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
  font-weight: 600;
}
.AssetList__asset__amount__trade {
  border-bottom: 1px dotted $s-color-neutral5;
}
.AssetList__head__amount {
  text-align: right;
}
.AssetList__asset {
  border-top: 1px solid $s-color-neutral8;
  display: table-row;
  text-decoration: none;
}
.AssetList__asset:hover {
  background: #fbfbfc;
}
.AssetList__asset__assetCard {
  padding: 8px;
  width: 300px;
  display: table-cell;
}
.AssetList__asset__amount {
  text-align: right;
  padding: 0 16px;
  font-size: 16px;
  display: table-cell;
  vertical-align: middle;
}
.AssetList__asset__changePositive {
  color: $s-color-primary3;
}
.AssetList__asset__changeNegative {
  color: darken($s-color-alert, 5%);
}
.AssetListFooter {
  font-size: $s-scale-6;
  text-align: center;
  padding: 12px 18px;
  color: $s-color-neutral5;
  border-top: 1px solid $s-color-neutral8;
}
.AssetListFooter a:hover {
  color: $s-color-neutral3;
}
