.assetPair {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.assetPair__separator {
  width: 28px;
  height: 28px;
  border-top: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
  flex: 0 0 20px;
}
.assetPair__card {
  flex: 1 0;
}


.Markets__table__row:hover .assetPair__separator {
  border-top: 1px solid $s-color-primary4;
  border-bottom: 1px solid $s-color-primary4;
}
