// Recommended width: 450px;
.AssetCard__main {
  background: $s-color-neutral8;
  border-radius: $s-var-radius;
  display: flex;
  padding: 8px 16px 8px 8px;
  height: 64px;
  align-items: center;
  border: 1px solid $s-color-neutral7;
}
.AssetCard--fixed {
  width: 450px;
}
.AssetCard--container .AssetCard__main {
  border-radius: $s-var-radius $s-var-radius 0 0;
}
.AssetCard__addon {
  padding: 8px;
  border-left: 1px solid $s-color-neutral7;
  border-right: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
  border-radius: 0 0 $s-var-radius $s-var-radius;
}
  .AssetCard__logo {
    width: 50px;
    height: 50px;
    background: #fff;
    flex: 0 0 auto;
    margin-right: 16px;
    border-radius: $s-var-radius;
  }
  .AssetCard__logo__image {
    width: 50px;
    height: 50px;
    margin: 0;
    display: block;
    border-radius: $s-var-radius;
  }
  .AssetCard__content {
    overflow: hidden;
  }
  .AssetCard__header {
    display: flex;
    align-items: baseline;
    height: 28px;
    border-bottom: 1px solid rgba(0,0,0,0.15);
  }

  .AssetCard__code {
    font-weight: 700;
    font-size: $s-scale-1;
    line-height: 24px;
    margin-right: 8px;
  }

  .AssetCard__federation {
    text-decoration: none;
    font-size: $s-scale-3;
    line-height: 24px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  a.AssetCard__federation:hover {
    border-bottom: 1px solid #000;
  }

  .AssetCard__issuerAccountId {
    margin: 0;
    font-size: 10px;
    padding-left: 1px; // Fine tuning for alignment due to keming stuff
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 1px;
    opacity: 0.8;
  }


.BalancesTable__row:hover .AssetCard__main,
a.AssetPairRow:hover .AssetCard__main,
.AssetCard--button:hover .AssetCard__main,
.AssetCard--lit .AssetCard__main {
  border: 1px solid $s-color-primary4;
  box-shadow: 0 0 1px rgba($s-color-primary4, 0.3);
}
