.AssetPairRow {
  border-top: 1px solid $s-color-neutral7;
  padding: 0.75em 18px;
  text-decoration: none;
  display: block;
}


.AssetPair {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.AssetPair__separator {
  width: 18px;
  height: 18px;
  border-top: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
}

.AssetPair__card {
  flex: 1 0;
}

a.AssetPairRow:hover .AssetPair__separator {
  border-top: 1px solid $s-color-primary4;
  border-bottom: 1px solid $s-color-primary4;
}

.AssetPair__swap{
  width: 20px;
  height: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.8;
  transition: 0.15s;
}

.AssetPair__swap:hover{
  opacity: 1;
}

.AssetPair_error{
    color: $s-color-alert;
    font-size: $s-scale-4;
    margin-top: 20px;
    text-align: center;
}

