.AssetCardList{
  width: 463px;
  height: 230px;
  overflow-y: scroll;
  position: absolute;
  border: 1px solid rgb(189, 191, 192);
  z-index: 2;
  background-color: #fff;
}
.AssetCardList_card{
  margin: 3px 0;
}





