.AssetPickerNarrow {
    margin-bottom: 0.75em;

    .AssetPickerNarrow_tag {
        padding: 0.35em 1em 0.3166em 1em;
        border: 1px solid $s-color-neutral6;
        border-bottom: 0;
        border-radius: $s-var-radius $s-var-radius 0 0;
    }

    .AssetPickerNarrow_tag + input {
        border-radius: 0 0 $s-var-radius $s-var-radius;
    }
}

.AssetPickerNarrow:last-child {
    margin-bottom: 0;
}
