.CopyButton{
  color: #86d38c;
  font-size: 16px;
  font-weight: 600;
  display: flex;
  position: relative;
  align-items: center;
  cursor: pointer;
  img{
    margin-right: 5px;
  }
  .CopyButton__popup{
    width: 155px;
    height: 36px;
    border-radius: 2px;
    background-color: #7ed085;
    color: #fff;
    font-size: 16px;
    font-weight: 300;
    line-height: 36px;
    text-align: center;
    position: absolute;
    top: -53px;
    left:-60px;
    opacity: 1;
    transition: opacity 0.4s;

    &::after{
      content: '';
      position: absolute;
      left: 76px;
      bottom: -15px;
      border: 8px solid transparent;
      border-top: 8px solid #7ed085;
    }
  }
  .noDisplay{
    opacity: 0;
  }
}
