.CustomPairMenu__container{
  padding-top: 1em;
  padding-bottom: 1em;
  align-items: center;
}

.CustomPairMenu__title {
  border-bottom: 1px solid $s-color-neutral7;
}

.CustomPairMenu__separator {
  width: 18px;
  height: 18px;
  border-top: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
}

.CustomPairMenu__button{
  width: 944px;
  margin: 0 18px 16px;
  background-color: rgba(104,200,111,0.8);
  color: #fff;
  border: 1px solid rgb(189, 191, 192);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}

.CustomPairMenu__button:hover{
  background-color: rgba(104,200,111,1);
}
