.DepositModal__addressLabel {
  font-size: $s-scale-5;
  color: $s-color-neutral4;
  margin-bottom: 0;
  line-height: 1;
}
.DepositModal__address {
  font-size: $s-scale-3;
  font-weight: bold;
}
.DepositModal__assetCard {
  width: 300px;
}
