
.EmbedV1 {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  background: #fff;
  height: 100%;

  display: flex;
  flex-direction: column;
}

html.EmbedV1HTML {
  min-width: 0; // DONT GO LIVE WITH THIS
  overflow: hidden; // Prevent scrolling
}
.EmbedV1HTML body {
  min-width: 0; // DONT GO LIVE WITH THIS
}

.EmbedV1__info {
  display: flex;
  flex-flow: row wrap;
  flex-wrap: wrap;
  flex: 0 0 auto;
  padding: 9px;
}
.EmbedV1__info__card {
  margin: 9px;
  width: 250px;
  height: 50px;
  flex: 1 0 250px;
}
.EmbedV1__info__card .AssetCard2 {
  max-width: 500px;
}

  .EmbedV1__info__ticker {
    width: 250px;
    flex: 1 0 250px;
    margin: 9px;
    font-size: $s-scale-3;
  }
  .EmbedV1__info__ticker__title {
    font-size: $s-scale-5;
    color: $s-color-neutral4;
    margin-bottom: 0;
  }
  .EmbedV1__info__ticker__data {
    font-size: $s-scale-2;
    line-height: 1;
    margin-bottom: 0;
    font-weight: bold;
  }
  .EmbedV1__info__ticker__spacer {
    display: inline-block;
    width: 16px;
  }
