.Exchange__warning {
  padding: 18px 18px 0 18px;
}
.Exchange__orderbook {
  padding-bottom: 18px;
}

.Exchange__orderbookDisabled {
  font-size: $s-scale-1;
  text-align: center;
  margin-bottom: $s-scale-2;
}
