.GlobalModalBackdrop {
  // This div fills up the whole screen, relative to where the user is scrolled to
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 100;

  display: flex;
  align-items: center;
  justify-content: center;

  background: rgba(128,128,128,0.6);
  // For the future: (right now, it's behind a browser feature flag that is off by default)
  // backdrop-filter: blur(2px);
  // -webkit-backdrop-filter: blur(2px);
}
.GlobalModal {
  padding: 20px;

  border-radius: 3px;
  background: rgba(255,255,255,0.9);
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
}

.GlobalModal__content {
  min-width: 400px;
  padding-bottom: 20px;
}
.GlobalModal__navigation {
  display: flex;
  justify-content: space-between;
}
