.HistoryView__header {
  display: flex;
  justify-content: space-between;
}
.HistoryView__header__left {
  flex: 1;
}
.HistoryView__header__right {
  text-align: right;
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.HistoryView__header__right__label {
  font-size: 18px;
  margin-right: 8px;
}
.HistoryView__header__right__buttonGroup {
  display: inline-block;
  font-size: 14px;
}
.HistoryView__asset {
  text-decoration-style: dotted;
  position: relative;
  text-decoration: underline;
  margin-left: 2px;
}
.HistoryView__asset__card {
  display: none;
  position: absolute;
  left: 0;
  top: -50px;
  width: 300px;
  z-index: 100;
}
.HistoryView__asset:hover .HistoryView__asset__card{
  display: block;
}

.HistoryView__asset__card .AssetCard2 {
  box-shadow: 0 0 4px 0 rgba(0,0,0,1);
}
.HistoryView__card {
  width: 100%;
  display: flex;
  margin-left: 10px;
}
.HistoryView__card__main {
  border-radius: 5px;
  background: $s-color-neutral8;
  border: 1px solid $s-color-neutral7;
  border-radius: $s-var-radius;
  padding-right: 5px;
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 10px;
  color: #000; // #000 which will then have opacity applied
}
.HistoryView__card__container {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
}
.HistoryView__card__container__title {
  margin-bottom: 0;
  font-weight: 400;
  margin-left: 120px;
}
.HistoryView__card__container__header {
  display: inline-block;
  min-width: 120px;
  font-weight: bold;
  text-align: right;
  padding-right: 6px;
}
.HistoryView__card__line {
}

.HistoryView__external {
  font-size: 12px;
  opacity: 0.8;
}
