.HistoryView__header {
  display: flex;
  justify-content: space-between;
}
.HistoryView__header__left {
  flex: 1;
}
.HistoryView__header__right {
  text-align: right;
  flex: 1;
}
.HistoryView_checkbox {
  margin-right: 10px;
}
.HistoryView__asset {
  text-decoration-style: dotted;
  position: relative;
  text-decoration: underline;
  margin-left: 2px;
  cursor: pointer;
}
.HistoryView__asset__card {
  display: none;
  position: absolute;
  left: 0;
  top: -50px;
  width: 300px;
  z-index: 100;
}
.HistoryView__asset:hover .HistoryView__asset__card{
  display: block;
}

.HistoryView__asset__card .AssetCard2 {
  box-shadow: 0 0 4px 0 rgba(0,0,0,1);
}
