.HomePage__lead {
  margin: 0 auto;
  width: 740px;
  color: #fff;
  text-shadow: 0 1px 3px rgba(255,255,255,0.1);
  padding-top: 120px;
  padding-bottom: 120px;
  font-weight: 300;
}
.HomePage__lead__title {
  font-size: $s-scale-c;
  font-weight: 300;
}
.HomePage__buttonContainer {
  text-align: center;
}
.HomePage__black {
  background: #111;
  padding-bottom: 180px;
}

.HomePage__assetList {
  margin-top: -180px;
}
.HomePage__seeMore {
  font-size: $s-scale-6;
  text-align: center;
  padding: 12px 18px;
  color: $s-color-neutral5;
  border-top: 1px solid $s-color-neutral7;
}
.HomePage__seeMore a:hover {
  color: $s-color-neutral3;
}

.HomePage__screenshot {
  width: 450px;
  margin-bottom: 0;
  display: block;
}
.HomePage__introImage {
  padding-top: 20px;
  padding-bottom: 20px;
}
.HomePage__sideBlurb {
  padding-top: 20px;
}
.HomePage__sectionTitle {
  text-align: center;
  font-weight: normal;
  padding-top: 30px;
  padding-bottom: 20px;
  font-size: $s-scale-2;
}
