.island {
  min-width: 800px;
  max-width: 1000px;
  margin: 0 auto;
  box-shadow: 0 0 2px #fff;
  background: #fff;
  margin-bottom: 18px;
  border: 1px solid $s-color-neutral6;
  border-radius: 3px;
  padding-bottom: 20px;
}

  .island__header {
    background-color: $s-color-neutral8;
    border-bottom: 1px solid $s-color-neutral6;
    border-radius: 3px 3px 0 0;

    padding: 8px 20px;
    font-size: $s-scale-3;
  }

  .island__separator {
    border-top: 1px solid $s-color-neutral7;
    width: 100%;
    margin-top: 40px;
    margin-bottom: 30px;
  }

  .island__sub {
    display: flex;
    padding: 0 14px;
    justify-content: space-between;
  }
    .island__sub__division {
      margin: 0 14px;
      flex: 1 0;
      width: 0; // no-flex
    }
      .island__sub__division__title {
        font-size: 22px;
        margin-bottom: 8px;
        margin-top: 12px;
        font-weight: 400;
        text-align: center;
      }

      .island__sub__division__title--left {
        text-align: left;
      }
