.islandBack {
  padding-bottom: 27px;
}
.islandBack--t {
  padding-top: 27px;
}

// Island counts as a chunk
.island {
  width: 980px;
  margin: 0 auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  background: #fff;
  // margin-bottom: 18px;
  // border: 1px solid $s-color-neutral5;
  border-radius: 3px;
}
.island--simplePad {
  padding: 16px 18px;
}
.island--simplePadTB {
  padding-top: 18px;
  padding-bottom: 18px;
}
.island--fluid {
  width: auto;
}

// For if the content is too simple to warrant a complicated pad
.island__paddedContent {
  padding: 16px 18px;
}

  .island__header {
    background-color: $s-color-neutral8;
    border-bottom: 1px solid $s-color-neutral7;
    border-radius: 3px 3px 0 0;

    padding: 11px 18px 9px 18px;
    font-size: $s-scale-3;
  }

  .island__separator {
    border-top: 1px solid $s-color-neutral7;
    width: 100%;
  }

  .island__sub {
    display: flex;
    padding: 0 9px;
    justify-content: space-between;
  }
    .island__sub__division {
      margin: 0 9px;
      flex: 1 0;
      width: 0; // no-flex
    }
      .island__sub__division__title {
        font-size: $s-scale-3;
        margin-bottom: 14px;
        margin-top: 14px;
        font-weight: 400;
        text-align: center;
      }

      .island__sub__division__title--left {
        text-align: left;
      }
  .island--pb {
    padding-bottom: 36px;
  }
