
.LoginPage {
  display: flex;
}
.LoginPage__sidebar {
  background: #fafafb;
  padding-top: 16px;
  width: 200px;
  flex: 0 0 200px;
  padding-left: 18px;
  border-right: 1px solid $s-color-neutral7;
  border-radius: 0 0 0 3px;
}
.LoginPage__sidebar__tab {
  display: flex;
  align-items: center;
  min-height: 50px;
  padding: 12px 18px;
  margin-bottom: 16px;
  border-top: 1px solid $s-color-neutral7;
  border-left: 1px solid $s-color-neutral7;
  border-bottom: 1px solid $s-color-neutral7;
  border-radius: 3px 0 0 3px;
  background: #fff;
  text-decoration: none;
}
.LoginPage__sidebar__tab img {
  display: block;
}
.LoginPage__sidebar__tab.is-active {
  background: $s-color-primary4;
  font-weight: bold;
  color: #fff;
  border-color: $s-color-primary3;
}
.LoginPage__sidebar__tab.is-active img.LoginPage__sidebar__tab__img--invertible {
  filter: brightness(100);
}

.LoginPage__sidebar__tab:hover {
  text-decoration: underline
}
.LoginPage__body {
  flex: 1;
}
.LoginPage__greenBox {
  border: 1px solid $s-color-primary7;
  background: $s-color-primary9;
  border-radius: $s-var-radius;
  margin: 16px 18px;
}
.LoginPage__paddedBox {
  padding: 16px 18px;
}

.LoginPage__form {
  padding: 20px;
}
.LoginPage__form p:last-child {
  margin-bottom: 0;
}
.LoginPage__form--title {
  font-size: $s-scale-1;
}
.LoginPage__inputGroup {
  margin-bottom: 9px;
}
.LoginPage__password {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: none;
}
.LoginPage__inputGroup--path {
  width: 300px;
}
.LoginPage__show {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}
.LoginPage__notes {
  border-top: 1px solid $s-color-primary7;
  padding: 20px;
}

.LoginPage ul {
  margin-left: 2em;
}

.LoginPage__generate {
  margin-top: 1em;
}

.LoginPage__generatedNote {
  padding-top: 1em;
}
.LoginPage__error {
  margin-top: 1em;
  margin-bottom: 0;
}

.LoginBox__ledgerNanoHeader {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 36px 32px 18px 32px;
}
.LoginPage__activateCustomPath {
  align-self: center;
  margin-left: 18px;
}
.LoginPage__customPath {
  margin-left: 18px;
}
.LoginPage__customPath__input {
  padding-right: 0;
  margin-left: 3px;
  margin-right: 4px;
  padding-left: 12px;
}
.LoginPage__customPath__surrounding {
  font-weight: bold;
}
