.OfferMaker__table {
  width: 100%;

}

.OfferMaker__table__row {
  height: 50px;
}
.OfferMaker__table__label {
  // min-width: 100px;
}
.OfferMaker__table__input {
  width: auto;
  min-width: 100px;
}
.OfferMaker__message {
  font-size: $s-scale-5;
}
.OfferMaker__errorList {
  margin-left: 2em;
}
.OfferMaker__enable {
  margin-top: 1em;
  font-size: $s-scale-4;
}

.OfferMaker__insufficientBalance {
  font-size: $s-scale-5;
  margin-bottom: 0.5em;
  color: $s-color-alert;
}
.OfferMaker__youHave {
  font-size: $s-scale-5;
  margin-bottom: 0.5em;
}


.OfferMaker__table__row {
}
.OfferMaker__table__label {
  padding-right: 18px;
}
.OfferMaker__table__input__group {
  display: flex;
}
.OfferMaker__table__input__input {
  width: 100%;
  border-radius: 3px 0 0 3px;
  // background: #f8f8f9;
  border-right: 0;

}
.OfferMaker__table__input__group__tag {
  padding: 0.3333em 1em 0.3333em 1em;
  background: $s-color-neutral8;
  font-weight: bold;
  border-radius: 0 3px 3px 0;
  border: 1px solid $s-color-neutral6;
}


.OfferMaker__overview {
  margin-top: 12px;
  border-top: 1px solid $s-color-neutral7;
  padding-top: 12px;
}
