.OfferTable {
  width: 100%;
  text-align: right;
  font-size: 14px;
}

.OfferTable__header {
  display: flex;
  background: #e7e7e7;
  font-weight: bold;
  text-align: center;
}
  .OfferTable__header__item {
    width: 25%;
    padding: 5px;
  }
.OfferTable__row {
  display: flex;
}
.OfferTable__row:hover {
  background: #fdfdc8 !important;
  cursor: pointer;
}
  .OfferTable__row__item {
    width: 25%;
    padding: 5px;
  }
