.OfferMaker__table {
  width: 100%;

}

.OfferMaker__table__row {
  height: 50px;
}
.OfferMaker__table__label {
  // min-width: 100px;
}
.OfferMaker__table__input {
  width: auto;
  min-width: 100px;
}
.OfferMaker__message {
  font-size: $s-scale-5;
}
.OfferMaker__errorList {
  margin-left: 2em;
}


.OfferMaker__table__input__input {
  width: 100%;
}

.OfferMaker__overview {
  margin-top: 12px;
  border-top: 1px solid $s-color-neutral7;
  padding-top: 12px;
}
