.PriceChartChunk {
  margin: 0 auto;
}

.PriceChartChunk {
  width: 980px;
  height: 410px;
}
#PriceChart {
  width: 100%;
  height: 100%;
}
#PriceChart {
  display: flex;
  align-items: center;
}

.PriceChart__message {
  width: 100%;
  font-size: $s-scale-2;
  margin-bottom: 0;
  padding-left: 18px;
  padding-right: 18px;
  text-align: center;
  color: $s-color-neutral6;
}
