.row {
  display: flex;
  padding: 14px 18px;
  border-top: 1px solid $s-color-neutral7;
}
.row--lite {
  display: flex;
  padding: 14px 0;
}
.row__message {
  width: 100%;
  text-align: center;
  font-size: $s-scale-3;
  color: $s-color-neutral5;
}
.row__fixedAsset {
  width: 300px;
}
.row__assetCard2 {
  width: 322px;
}
.row__shareOption {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.row__full_width {
  width: 100%;
}

.row__item--assetCard {
  padding: 8px;
  width: 340px;
}

.row__message--error {
  color: $s-color-alert;
}
