.Sale ul {
  padding-left: 24px;
}
.Sale {
  // background: red;

  background: linear-gradient(180deg, rgba(255,255,255,1) 5%, rgba(255,255,255,0.0) 40%);
  padding-bottom: 40px;
}

.Sale__intro {
}
.Sale__intro__content {
  font-size: 30px;
  padding: 80px 0 80px 60px;
}
.Sale__analytics {
  width: 100%;
  box-shadow: 0 0 3px 0px rgba(0,0,0,0.7);

}

.Sale__section {
  padding: 40px;
  border-bottom: 1px solid #ddd;
}


.Sale__section p:last-child {
  margin-bottom: 0;
}
.Sale__section ul:last-child {
  margin-bottom: 0;
}
.Sale__section p:last-child {
  margin-bottom: 0;
}
.Sale__section:last-child {
  border-bottom: none;
}
