.subNavBack {
  background: $s-color-primary8;
  position: relative;
}
.subNav__nav {
  height: 54px;
  display: flex;
  align-items: center;
  padding-left: 18px;
  padding-right: 18px;
}
.subNav__nav__item {
  margin-right: 2em;
  text-decoration: none;
  color: $s-color-neutral3;
}
