.subNavBackClipper {
  // Clips the top of the box shadow to not clash with the header
  // A bit kludgey with the negative margin but it's a simple solution compared to using absolute positioning
  overflow: hidden;
  height: 74px;
  margin-bottom: -20px;
}
.subNavBack {
  background: $s-color-primary8;
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0.3);
  overflow:hidden;
}
.subNav__nav {
  height: 48px;
  display: flex;
  align-items: center;
  padding-left: 9px;
  padding-right: 9px;
}
.subNav__nav__item {
  display: flex;
  align-items: center;
  padding: 0 9px;
  height: 48px;
  margin-right: 2em;
  text-decoration: none;
  color: $s-color-neutral3;
  border-bottom: 5px solid transparent;
}
.subNav__nav__item:hover {
  border-color: $s-color-primary6;
}
.subNav__nav__item.is-current {
  border-color: $s-color-primary5;
}
