@import 'node_modules/solar-css/lib/index';
@import 'node_modules/solar-stellarterm/lib/index';

@import 'node_modules/solar-css/styles/index';
@import 'node_modules/solar-stellarterm/styles/index';

html {
  background: #fff;
}
body {
  background: linear-gradient(150deg, rgba(100,200,255,0.1), rgba(255,255,0,0.2)),
              linear-gradient(90deg, rgba(255,255,255,0.2), transparent),
              linear-gradient(30deg, #9291e0, #96dadb);
  color: $s-color-neutral2;
}

@import 'island';
@import 'lightenZeros';

@import 'Header';
@import 'subNav';
@import 'HomePage';

@import 'Generic';

@import 'OfferTables';
  @import 'OfferTable';

@import 'OfferMakers';
  @import 'OfferMaker';

@import 'Markets';
@import 'PairPicker';
@import 'AssetCard';

@import 'AssetPair';

@import 'AssetPickerNarrow';
@import 'CustomMarketPicker';

@import 'LoginForm';
@import 'BalancesTable';
@import 'AddTrust';
@import 'AddTrustFromDirectory';
@import 'AddTrustFromDirectoryRow';
