@import './solar-css/lib/index';
@import './solar-stellarterm/lib/index';

@import './solar-css/styles/index';
@import './solar-stellarterm/styles/index';

@import 'node_modules/react-select/dist/react-select.min';

html {
  min-width: 1052px;
  background: #fff;
}
body {
  background: linear-gradient(0deg,#bac3eb,#a8d4e2);
  color: $s-color-neutral2;
  font-size: $s-scale-4;
  min-width: 1052px;
}

@import 'island';
@import 'lightenZeros';

@import 'Header';
@import 'subNav';
@import 'HomePage';
@import 'row';

@import 'Generic';
@import 'Loading';

@import 'Exchange';
@import 'OfferTables';
  @import 'OfferTable';
@import 'PriceChart';

@import 'OfferMakers';
  @import 'OfferMaker';

@import 'ManageOffers';


@import 'Markets';
@import 'PairPicker';

@import 'AssetCard'; // Deprecated
@import 'AssetCard2';

@import 'AssetPair';

@import 'AssetPickerNarrow';
@import 'CustomMarketPicker';

@import 'AssetList';

@import 'DateCard';

@import 'LoginForm';
@import 'Session';
@import 'AccountView';
@import 'HistoryView';
@import 'MinBalance';
@import 'BalancesTable';
@import 'HistoryTable';
@import 'ManageCurrentTrust';
@import 'Send';
@import 'Inflation';
@import 'AddTrust';
@import 'AddTrustRow';
@import 'Deposit';
@import 'Sale';
