@import 'node_modules/solar-css/lib/index';
@import 'node_modules/solar-stellarterm/lib/index';

@import 'node_modules/solar-css/styles/index';
@import 'node_modules/solar-stellarterm/styles/index';

html {
  min-width: 1052px;
  background: #fff;
}
body {
  background: linear-gradient(150deg, rgba(100,200,255,0.1), rgba(255,255,0,0.2)),
              linear-gradient(90deg, rgba(255,255,255,0.2), transparent),
              linear-gradient(30deg, #9291e0, #96dadb);
  color: $s-color-neutral2;
  min-width: 1052px;
}

@import 'island';
@import 'lightenZeros';

@import 'Header';
@import 'subNav';
@import 'HomePage';
@import 'row';

@import 'Generic';

@import 'OfferTables';
  @import 'OfferTable';
@import 'PriceChart';

@import 'OfferMakers';
  @import 'OfferMaker';

@import 'ManageOffers';


@import 'Markets';
@import 'PairPicker';

@import 'AssetCard';

@import 'AssetPair';

@import 'AssetPickerNarrow';
@import 'CustomMarketPicker';

@import 'AssetList';


@import 'LoginForm';
@import 'BalancesTable';
@import 'Send';
@import 'AddTrust';
@import 'AddTrustRow';
