// Graphics in css should be for just decorational items

@mixin so-graphic($name, $nativeWidth, $nativeHeight) {
  width: $nativeWidth*0.5 + px;
  height: $nativeHeight*0.5 + px;
  background-size: $nativeWidth*0.5 + px $nativeHeight*0.5 + px;
  background-image: url($so-graphicsPath + $name);
}

.so-graphic {
  display: inline-block;
  background-repeat: no-repeat;
}

// Graphics that use so-graphic should not live here. It should be in the repo
// of the project that uses the graphics.
// Any graphics in solar should be inlined
