.withdraw_label {
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding-bottom: 10px;

    &::first-letter {
        text-transform: uppercase;
    }
}

.withdraw_input_content {
    position: relative;
    padding-bottom: 1.2em;

    &:last-child {
        padding-bottom: 0;
    }

    .withdraw_input_block {
        display: flex;

        &:last-child {
            padding-bottom: 0;
        }

        input {
            height: 50px;
            width: 100%;
            border: 1px solid #bdbfc0;
            border-radius: 3px 0 0 3px;
            outline: none;

            &:focus {
                border: solid 1px #69c76f;
            }
        }

        .withdraw_code {
            display: flex;
            justify-content: center;
            align-items: center;
            font-weight: bold;
            min-width: 20%;
            background: #f4f4f5;
            border-radius: 0 3px 3px 0;
            border: 1px solid #bdbfc0;
            border-left: 0;
        }

        select {
            width: 100%;
            height: 50px;
            border: 1px solid #bdbfc0;
            border-radius: 3px 0 0 3px;
            outline: none;
        }
    }

    .input_additional_info,
    .invalidValue_popup {
        &:empty {
            display: none;
        }
    }

    .input_additional_info {
        display: flex;
        flex-direction: row;
        font-size: 14px;
        font-weight: 300;
        font-style: normal;
        line-height: normal;
        margin-top: 0.7em;

        span::first-letter {
            text-transform: uppercase;
        }
    }

    .invalidValue_popup {
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        height: 20px;
        padding: 0 11px;
        background-color: #fe6d74;
        border-radius: 2px;
        color: #fff;
        top: 10px;
        right: 0;
        z-index: 2;
        font-size: 13px;

        &::after {
            content: "";
            position: absolute;
            right: 20px;
            bottom: -8px;
            border: 4px solid transparent;
            border-top: 4px solid #fe6d74;
        }
    }
}

.content_block {
    .content_withdraw_types {
        .s-buttonGroup {
            width: 100%;

            .s-button {
                flex: 1;
                background: #fff;
                padding: 0.8em;
                outline: none;
                color: #505558;
                border: solid 1px #bdbfc0;
                box-shadow: none;
                text-transform: capitalize;

                &:hover,
                &:active {
                    border: solid 1px #69c76f;
                }

                &:active {
                    z-index: 1;
                }
            }

            .s-button-active {
                z-index: 3;
                color: #69c76f;
                border: solid 1px #69c76f;
            }
        }
    }

    .content_title + .content_withdraw_types {
        margin-top: 0.4em;
    }
}

.transaction_info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-top: 1px solid rgba(189, 191, 192, 0.2);
    padding-top: 1em;

    .content_block {
        display: flex;
        justify-content: space-between;
        margin: 0 !important;
    }

    .content_block + .content_block {
        padding-top: 0.4em;
    }
}
