@import "./DesktopContent/DescktopContent";

.WalletConnectNewPairModal {
    background-color: #fff;
    width: 612px;
    max-height: 100%;
    overflow-y: auto;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    .WalletConnectNewPairModal_content {
        padding: 31px 34px 35px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .WalletConnectNewPairModal_title {
            font-size: 18px;
            font-weight: normal;
            color: #505558;
            margin-bottom: 10px;
        }

        .WalletConnectNewPairModal_description {
            font-size: 14px;
            font-weight: normal;
            color: #9aa6ac;
            margin-bottom: 10px;
        }

        .WalletConnectNewPairModal_link {
            font-size: 14px;
            font-weight: normal;
            color: #68c86f;
            cursor: pointer;
            margin-bottom: 35px;
            text-decoration: none;
        }

        .WalletConnectNewPairModal_qr {
            width: 100%;
            display: flex;
            flex-direction: column;
            align-items: center;
            border: 1px solid #f2f2f2;
            background-color: #fdfdfd;
            border-radius: 4px;
            padding: 48px 0 40px;
        }
    }

    .WalletConnectNewPairModal_copy {
        margin-top: 26px;
    }

    .Modal_header {
        padding-bottom: 0;
    }

    .WalletConnectNewPairModal_tab {
        margin-right: 29px;
        opacity: 0.7;
        cursor: pointer;

        &.active {
            opacity: 1;
            border-bottom: solid 2px #86d38c;
            padding-bottom: 10px;
        }
    }
}
