@import "../../LoginModal/LoginModalBlock/LoginModalBlock";

.AccountModalBlock_account{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 40px;

    .AccountModalBlock_account-id{
        font-size: 18px;
        font-weight: bold;
        display: flex;
        align-items: center;

        .AccountModalBlock_identicon{
            margin-right: 7px;
        }
    }
}

.AccountModalBlock_unfunded{
    border-radius: 2px;
    border: solid 1px #ff4961;
    background-color: #f6c5c5;
    padding: 20px;
}

.AccountModalBlock_loading{
    padding: 20px;
}

.AccountModalBlock_out{
    display: flex;
    flex-direction: column;
    font-size: 18px;
    font-weight: normal;

    .s-button{
        margin-top: 28px;
        width: 160px;
        height: 52px;
        outline: none;
        font-size: 16px;
    }
}
