.InfoBlock_base {
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    padding: 30px 24px;
    font-size: 16px;
    color: #505558;
    margin: 20px 0;
    width: 100%;

    .title_wrapper {
        display: flex;
        align-items: center;
        margin-bottom: 1em;

        &:last-child {
            margin-bottom: 0;
        }
    }

    .info_icon {
        width: 24px;
        height: 24px;
        margin-right: 16px;
    }

    .info_title {
        font-size: 18px;
        font-weight: normal;
    }

    &.InfoBlock_smallInRow {
        padding: 0;
        border: none;
        background: #fff;
        margin-bottom: 32px;

        .info_title {
            font-size: 16px;
        }

        .info_icon {
            width: 20px;
            height: 20px;
            margin-right: 8px;
        }
    }
}

.Info_success {
    border: 1px solid $s-color-primary7;
    background: $s-color-primary9;
}

.Info_warning {
    border: 1px solid #ffe6c0;
    background: #fff4e5;
}

.Info_error {
    border: 1px solid #ff496180;
    background: #f6c5c580;
}
