@import "./Federation/Federation";
@import "./AccountView/AccountView";

.AccountView_text {
    padding: 0 0 0 17px;
    vertical-align: middle;
    display: inline-block;
}

.AccountView_app {
    display: flex;
    align-items: center;
    margin-bottom: 11px;

    .AccountView_app-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: 8px;
        border: solid 2px #E1F4E2;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
            height: 16px;
            width: 16px;
        }
    }

    .AccountView_app-name {
        font-size: 16px;
        font-weight: 300;
    }
}

.AccountView_content {
    padding: 16px 18px;
    border-bottom: 1px solid #ddd;
}

.Account_alert {
    display: flex;
    margin-bottom: 1em;
    border-radius: 3px;
    background: $s-color-primary9;
    border: 1px solid #86d38c;
    justify-content: space-between;

    .Account_alert_left {
        padding: 0.5em 1em;
        height: 100%;

        p {
            margin-bottom: 0;
        }
        strong {
            margin-bottom: 0;
            font-size: $s-scale-1;
            cursor: pointer;
        }
    }

    .Account_alert_right {
        height: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .CopyButton {
            margin-right: 1.25em;
        }
        .CopyButton__popup {
            font-weight: normal;
            top: -75px;
        }
    }
}
