.SwapSettings {
    &-content {
        padding: 31px 34px 32px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &-title {
        font-size: 18px;
        font-weight: normal;
        color: #505558;
        margin-bottom: 10px;

        &.topMargin {
            margin-top: 34px;
        }
    }

    &-description {
        font-size: 16px;
        font-weight: 300;
        color: #505558;
        margin-bottom: 16px;
    }

    &-switcher {
        display: flex;
        height: 55px;


        &-option {
            flex: 1;
            border: 1px solid #D7E0E4;
            border-radius: 2px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #505558;
            font-size: 14px;
            cursor: pointer;


            &.active {
                background-color: #69C76F;
                color: #fff;
                border: 1px solid #69C76F;
            }
        }
    }

    .InfoBlock_base.InfoBlock_smallInRow {
        margin-bottom: 0;
    }

    .SwapSettings_percents {
        display: flex;

        .SwapSettings_percent {
            font-size: 14px;
            font-weight: normal;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 55px;
            height: 31px;
            margin-right: 3px;
            border-radius: 2px;
            background-color: #d7e0e4;
            color: #505558;
            cursor: pointer;

            &--active {
                background-color: #69c76f;
                color: #fff;
            }
        }
    }

    .Modal_button-block{
        padding-right: 0;
        margin-top: 20px;
        margin-bottom: 0;

        .s-button {
            width: 174px;
        }
    }
}
