.SecurityPhrase {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding: 8px 36px;
    z-index: 0;

    &.missing {
        border: 1px solid #e9c3c3;
        background: #e9c3c3;
    }

    &.exists {
        border: 1px solid #c3e9c5;
        background: #c3e9c5;
    }

    &__container {
        position: relative;
        width: 980px;
        padding: 0 17px;

        .sp_warning {
            position: relative;

            .warning-text {
                width: 770px;
            }

            .create_sp {
                float: right;
                cursor: pointer;
                margin-left: 20px;
            }
        }

        .security-phrase-text {
            font-size: 15px;
            .bold { font-weight: 600; }

            &.success-text .bold { margin-right: 10px; }

            .description { margin-bottom: 8px; }
        }

        .SecurityPhrase__form {
            position: relative;
            padding: 10px 0 5px;
            overflow: hidden;
            opacity: 1;
            transition: 0.25s;

            &.closed {
                height: 0;
                padding: 0;
                opacity: 0;
            }

            .generate-ps-button {
                padding: 0.3333em 3em 0.3333em 3em;
            }

            .save-ps-button {
                padding: 0.3333em 2em 0.3333em 2em;
            }
        }

    }

}
