.AssetList {
    width: 100%;
    display: table;
    border-collapse: collapse;

    .AssetList_head_row {
        display: table-row;
    }

    .AssetList_head_cell:first-child {
        text-align: center;
    }
    .AssetList_head_cell {
        padding: 12px;
        font-size: 16px;
        display: table-cell;
        vertical-align: middle;
        font-weight: 600;
        text-align: right;

        img {
            width: 20px;
            transition: 0.3s ease-in-out;
        }

        img.revert {
            -webkit-transform: rotateX(180deg);
            -moz-transform: rotateX(180deg);
            -o-transform: rotateX(180deg);
            -ms-transform: rotateX(180deg);
            transform: rotateX(180deg);
        }
        img,
        span {
            vertical-align: middle;
        }

        &:hover {
            cursor: pointer;
            background: #fbfbfc;
        }
    }

    .AssetList_asset {
        border-top: 1px solid $s-color-neutral8;
        display: table-row;
        text-decoration: none;

        &:hover {
            background: #fbfbfc;
        }

        .asset_assetCard {
            padding: 8px;
            display: table-cell;

            .AssetCardMain{
                width: 300px;
            }
        }
        .asset_cell {
            text-align: right;
            padding: 0 16px;
            font-size: 16px;
            display: table-cell;
            vertical-align: middle;

            .tradeLink {
                border-bottom: 1px dotted $s-color-neutral5;
            }
            &.price-xlm{
                min-width: 180px;
            }
        }
        &.AssetList_load{
            .AssetList_load-content{
                display: block;
                padding: 10px 8px 10px;
            }
            div{
                display: table-cell;
                &:nth-child(1){
                    width: 300px;
                }
                &:nth-child(2){
                    width: 191px;
                }
                &:nth-child(3){
                    width: 129px;
                }
                &:nth-child(4){
                    width: 144px;
                }
                &:nth-child(5){
                    width: 144px;
                }
                &:nth-child(6){
                    width: 72px;
                }
            }
        }
    }
}

.AssetListFooter {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 57px;
    color: #68c86f;
    font-size: 14px;
    font-weight: normal;
    text-decoration: none;
    border-top: 1px solid #f4f4f5;

    img {
        margin-left: 12px;
    }

    &:hover {
        background-color: #f4f4f533;
    }
}

.AssetList_Header {
    padding: 0 18px;
    border-bottom: 1px solid #dedfe0;
    background-color: #f4f4f5;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .AssetList_Tabs {
        display: flex;
        flex-direction: row;

        .ListHeader_Title {
            font-size: 18px;
            font-weight: 300;
            margin-right: 35px;
            padding: 12px 0;
            cursor: pointer;
            color: #505558;
            opacity: 0.7;
            text-decoration: none;

            &.active {
                opacity: 1;
                border-bottom: 2px solid #86d38c;
            }
        }
    }
    .ListHeader_lowTradable {
        display: flex;
        align-items: center;
        font-size: 13px;
        padding-left: 0.5em;
        cursor: pointer;
        position: relative;

        &:hover {
            background-color: rgba(104, 200, 111, 0.1);
            .custom-checkbox {
                border: solid 1px #68c86f;
            }
        }

        &:active {
            background-color: rgba(104, 200, 111, 0.15);
        }

        & input[type="checkbox"] {
            visibility: hidden;
            position: absolute;
        }
        .custom-checkbox {
            width: 15px;
            height: 15px;
            border-radius: 2px;
            background-color: #fff;
            border: solid 1px #bdbfc0;
            margin: 0 7px;
        }

        & input[type="checkbox"]:checked ~ .custom-checkbox{
            border: solid 1px #68c86f;
            display: flex;
            align-items: center;
            justify-content: center;

            img{
                width: 9px;
                height: 9px;
            }
        }
    }

    .ListHeader_dropdown{
        display: flex;
        flex-direction: row;
        align-items: center;
        color: #505558;

        & > span{
            margin-right: 8px;
        }
    }
}
