.row {
    display: flex;
    padding: 14px 18px;
    border-top: 1px solid $s-color-neutral7;

    .Row_msg {
        width: 100%;
        text-align: center;
        font-size: $s-scale-3;
        color: $s-color-neutral5;
        overflow-wrap: break-word;
    }

    .error_inRow {
        color: $s-color-alert;
    }
}

.row--lite {
    display: flex;
    padding: 14px 0;
}

.row__fixedAsset {
    width: 300px;
}
.row__shareOption {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    flex: 1;
}
.row__multipleButtons {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
    width: 80%;
    flex: 1;
}
.row__full_width {
    width: 100%;
}

.row__item--assetCard {
    padding: 8px;
    width: 340px;
}
