.Send_block {
    padding: 2em 2.5em 2.5em 2.5em;
    font-weight: normal;

    .field_description {
        font-size: 14px;
        line-height: 14px;
        color: #9aa6ac;

        .identicon_resolved {
            height: 14px;
            width: 14px;
            margin-left: 7px;
            margin-right: 5px;
        }

        .publicKey_resolved {
            color: #1c2e3e;
        }

        .InfoHover_block {
            .App_popover {
                font-weight: lighter;
                opacity: 0.9;

                .reserve_table {
                    .reserved_item_bold {
                        font-weight: bold;
                        font-size: 14px;
                    }

                    .reserved_item {
                        display: flex;
                        justify-content: space-between;
                        padding: 5px 0;
                    }
                }

                p {
                    margin: 0;
                }

                a {
                    margin-top: 1.5em;
                    text-decoration: none;
                }

                .reserved_link {
                    display: flex;
                    align-items: center;

                    &:hover {
                        img {
                            margin-left: 3px;
                        }
                    }

                    img {
                        transition: 0.15s ease-in-out;
                        width: 12px;
                        height: 12px;
                    }
                }
            }
        }
    }

    .Send_dest_input {
        position: relative;
        display: flex;
        width: 100%;

        input {
            width: 100%;
        }

        .Send_loader {
            position: absolute;
            right: 10px;
            z-index: 1;
            top: 50%;
            transform: translate(0, -50%);
        }
    }



    .Send_title {
        margin-bottom: 2em;

        h1 {
            font-weight: normal;
            font-size: 30px;
            color: #1c2e3e;
        }

        h1 + .field_description {
            margin-top: 5px;
        }
    }

    .Send_input_block,
    .Send_dropdown_block {
        display: flex;
        position: relative;
        flex-direction: column;

        .invalidValue_popup {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            height: 20px;
            padding: 0 11px;
            background-color: #fe6d74;
            border-radius: 2px;
            color: #fff;
            right: 0;
            z-index: 2;
            font-size: 13px;

            &::after {
                content: "";
                position: absolute;
                right: 20px;
                bottom: -8px;
                border: 4px solid transparent;
                border-top: 4px solid #fe6d74;
            }
        }

        label,
        input {
            color: #1c2e3e;
        }

        label {
            font-size: 14px;
            margin-bottom: 5px;
        }

        input {
            outline: none;
            height: 57px;
            border-radius: 2px;
            border: solid 1px #d7e0e4;
            background-color: #ffffff;

            padding: 1.2em;
            font-size: 14px;

            &:focus {
                border: solid 1px #69c76f;
            }

            &:disabled {
                cursor: not-allowed;
            }
        }

        input + .field_description, .Send_dest_input + .field_description {
            display: flex;
            align-items: center;
            margin-top: 5px;
        }
    }

    .Send_input_block + .Input_flexed_block {
        margin-top: 2em;
    }

    .Input_flexed_block {
        margin-top: 2em;
        display: flex;

        .Send_input_block {
            width: 70%;
            margin-right: 2em;
        }

        .Send_button_block {
            width: 30%;
            margin-top: 0;

            button {
                width: 100%;
            }
        }

        .Send_dropdown_block {
            width: 30%;

            .asset_balance {
                display: flex;
                justify-content: flex-end;
                color: #9aa6ac;
                margin-top: 5px;
                font-size: 14px;

                .asset_amount {
                    cursor: pointer;
                    color: #69c76f;
                }
            }

            .Send_dropdown {
                border-radius: 2px;
                border: solid 1px #d7e0e4;
                position: relative;

                .dropdown_selected {
                    position: relative;

                    .AssetCardSeparateLogo_details-row {
                        max-width: 160px;
                    }
                }

                .dropdown_item {
                    .AssetCardSeparateLogo_details-row {
                        max-width: 180px;
                    }
                }

                .dropdown_selected,
                .dropdown_item {
                    cursor: pointer;
                    transition: 0.1s ease;
                    border: 1px solid transparent;
                    display: flex;
                    align-items: center;
                    font-size: 14px;
                    height: 55px;
                    width: 100%;
                    padding: 0 15px;

                    .AssetCardSeparateLogo_details-row {
                        white-space: nowrap;
                        overflow: hidden;
                        text-overflow: ellipsis;
                    }

                    .dropdown_arrow {
                        width: 24px;
                        height: 100%;
                        position: absolute;
                        right: 10px;
                        transition: 0.15s;
                    }

                    .arrow_reverse {
                        transform: rotate(180deg);
                    }
                }

                .dropdown_list {
                    z-index: 10;
                    position: absolute;
                    overflow-y: auto;
                    width: calc(100% + 2px);
                    max-height: 277px;
                    border: solid 1px #d7e0e4;
                    border-top: none;
                    background: #fff;
                    left: -1px;

                    .dropdown_item {
                        &:hover {
                            background: rgba(215, 224, 228, 0.2);
                        }
                    }
                }
            }
        }

        .disabled_block {
            opacity: 0.6;

            .dropdown_selected {
                cursor: not-allowed !important;
            }
        }
    }

    .Send_button_block {
        display: flex;
        justify-content: flex-end;
        margin-top: 3em;

        button {
            padding: 0.8em 6em;
            border-radius: 2px;
            font-weight: lighter;
        }

        .s-button {
            border-radius: 2px;
            border: solid 1px #5eb464;
        }

        .s-btn_cancel {
            padding: 0.8em 2.5em;
            background-color: #ffffff;
        }

        button + button {
            padding: 0.8em 2.5em;
            margin-left: 10px;
        }
    }

    .send_btn_error {
        justify-content: center;
    }
}

.Send_short {
    max-width: 640px;

    .Send_details {
        margin-top: 1em;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .status_icon {
            height: 100px;
            width: 100px;
            margin-top: 2em;
            margin-bottom: 1em;
        }

        h1 {
            font-size: 40px;
            font-weight: bold;
        }

        h1 + .field_description {
            margin-top: 1em;
            display: flex;
            align-items: center;
            line-height: 14px;
        }

        .field_description {
            text-align: center;
            font-size: 14px;
            color: #9aa6ac;

            .publicKey_resolved {
                font-size: 14px;
            }
        }

        .field_description + .content_main {
            margin-top: 2em;
        }

        .content_main {
            width: 100%;
            padding: 1em;
            overflow-y: auto;
            background-color: rgba(244, 244, 245, 0.2);
            border: solid 1px rgba(189, 191, 192, 0.2);
            border-radius: 2px;

            .content_block {
                font-size: 14px;

                .content_title {
                    display: flex;
                    justify-content: space-between;
                    color: #1c2e3e;
                }

                .content_text {
                    color: #9aa6ac;
                    display: flex;
                    align-items: center;

                    .identicon_resolved {
                        height: 14px;
                        width: 14px;
                        margin-right: 5px;
                    }

                    .publicKey_resolved {
                        line-height: 14px;
                        color: #9aa6ac;
                    }
                }
            }

            .content_block + .content_block {
                margin-top: 1.5em;
            }

            .review_data {
                display: flex;
                margin-top: 1.5em;
                border-top: 1px solid rgba(189, 191, 192, 0.2);
                padding-top: 1em;

                .content_block {
                    flex: 1;
                }

                .content_block + .content_block {
                    margin-top: 0;
                }
            }
        }
    }

    .Send_title + .Send_details {
        margin-top: 0;
    }

    .Send_details + .Send_button_block {
        margin-top: 2em;
    }
}
