.SecretPhrase{
    padding: 25px 33px;
    border-radius: 4px;
    background-color: #fafafb;
    font-size: 14px;
    font-weight: normal;
    p{
        width: 250px;
        margin-bottom: 5px;
    }

    .SecretPhrase_title{
        color: #1c2e3e;
        display: flex;
        align-items: center;
        img{
            margin-right: 6px;
        }

        &.SecretPhrase_title-alert{
            color: #ff415b;
        }
    }

    .SecretPhrase_img-blinking{
        height: 24px;
        width: 24px;
        animation: img-blink 1.5s ease-in infinite;
        -webkit-animation: img-blink 1.5s ease-in infinite;
        -moz-animation: img-blink 1.5s ease-in infinite;
        -o-animation: img-blink 1.5s ease-in infinite;
    }

    @keyframes img-blink {
        from {opacity: 0.2}
        50% {opacity: 1}
        to {opacity: 0.2}
    }
    @-o-keyframes img-blink{
        from {opacity: 0.2}
        50% {opacity: 1}
        to {opacity: 0.2}
    }
    @-webkit-keyframes img-blink {
        from {opacity: 0.2}
        50% {opacity: 1}
        to {opacity: 0.2}
    }
    @-moz-keyframes img-blink {
        from {opacity: 0.2}
        50% {opacity: 1}
        to {opacity: 0.2}
    }

    .SecretPhrase_content{
        color: #9aa6ac;
    }

    .SecretPhrase_button{
        color: #68c86f;
        cursor: pointer;

        img{
            margin-left: 4px;
        }
    }

    .SecretPhrase_checkURL{
        width: 188px;
        height: 30px;
        border-radius: 15px;
        border: solid 1px #d7e0e4;
        background-color: #ffffff;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;

        .green{
            color: #68c86f;
        }

        img{
            margin-right: 10px;
        }
    }

    .SecretPhrase_phrase{
        color: #68c86f;
        padding: 10px 16px;
        border-radius: 4px;
        border: dashed 1px #68c86f;
        border-left: solid 8px #68c86f;
        background-color: #ffffff;
        overflow-wrap: break-word;
    }

    .SecretPhrase_description{
        font-size: 12px;
        font-weight: normal;
        font-style: italic;
        color: #9aa6ac;
    }
}
