.SignerDataRow{
    width: 100%;
    height: 72px;
    padding-left: 22px;
    padding-right: 37px;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 2px solid #dfe0e1;

    .SignerDataRow_type{
        min-width: 180px;
    }

    .SignerDataRow_key{
        min-width: 420px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;


        .SignerDataRow_icon{
            height: 26px;
            width: 26px;
            margin-right: 7px;
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50%;
            border: solid 2px #f4f4f5;

            img{
                height: 14px;
                width: 14px;
            }
        }
    }
    .SignerDataRow_weight{
        min-width: 50px;
    }

    .SignerDataRow_buttons{
        width: 300px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-left: 80px;

        .SignerDataRow_buttons-remove{
            display: flex;
            flex-direction: row;
            align-items: center;
            cursor: pointer;
            img{
                width: 24px;
                height: 24px;
                margin-right: 5px;
            }
            span{
                color: #86d38c;
                text-transform: uppercase;
                font-weight: 600;
            }
        }
    }

}



