.Footer {
  font-size: 12px;
}
.Footer__chunk {
  padding: 16px 18px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);
  background: #fff;
  display: flex;
  border-radius: 3px 3px 0 0;
}

.Footer__disclaimer {
  width: auto;
}

.Footer__list {
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.Footer__list__item {
  font-size: $s-scale-5;
  line-height: 1;
  margin-bottom: 0;
  text-align: right;
  margin-bottom: 6px;
}

.Footer__list__item:last-child {
  margin-bottom: 0;
}