.Footer {
    font-size: 12px;
    background: #fff;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    .Footer_link {
        display: flex;
        align-items: center;
        text-decoration: none;
        color: #505558;
        font-weight: 300;
        transition: 0.2s ease-in-out;

        &:hover {
            color: #787d7f;
        }

        img {
            margin-right: 0.75em;
            height: 1em;
            width: auto;
        }
    }

    .Footer_chunk {
        display: flex;
        flex-direction: column;
        border-radius: 3px 3px 0 0;

        .Footer_links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            padding: 1.25em 0;
            font-size: 14px;

            .Footer_social_links {
                a + a {
                    margin-left: 2.5em;
                }
            }

            .Footer_social_links {
                display: inherit;
            }
        }

        .Footer_disclaimer_block {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            border-top: solid 1px #dfe0e1;
            padding: 1em 0;

            .Footer_disclaimer_column {
                max-width: 780px;
                display: flex;
                flex-direction: column;

                .Footer_disclaimer {
                    width: auto;
                    text-align: left;
                }

                .Footer_disclaimer + .Footer_disclaimer {
                    border-top: none;
                    padding: 1em 0;
                }

                .Footer_version{
                    opacity: 0.5;
                    text-align: right;
                }

                .Footer_privacy_links {
                    display: flex;
                    flex-direction: row;

                    .Footer_link {
                        &:first-child {
                            border-right: solid 1px #dfe0e1;
                            padding-right: 0.7em;
                        }

                        &:last-child {
                            padding-left: 0.7em;
                        }
                    }
                }
            }

        }
    }
}
