@import "./DestinationBlock/DestinationBlock";

.transaction_Info {
    .more_Info {
        position: relative;
        display: flex;
        justify-content: flex-end;

        a {
            position: absolute;
            display: flex;
            align-items: center;
            text-transform: uppercase;
            font-weight: 600;
            gap: 3px;
            color: #86d38c;

            &:hover {
                text-decoration: none;
            }
        }
    }

    .otherDetails {
        border-top: 1px solid #f0f0f0;
        padding-top: 24px;
        margin-top: 31px;
    }

    .content_block {
        word-break: break-word;

        .content_text {
            white-space: pre;
        }

        .content_text > span.capitalized::first-letter {
            text-transform: uppercase;
        }

        span.bold {
            font-weight: 600;
            color: #252625;
        }
    }

    .ShowMore {
        color: #68c86f;
        font-size: 14px;
        font-weight: normal;
        border-bottom: 1px dotted #68c86f;
        cursor: pointer;
        text-decoration: none;
        width: fit-content;
    }
}
