.transaction_Info {
    .more_Info {
        position: relative;
        display: flex;
        justify-content: flex-end;

        a {
            position: fixed;
        }
    }

    .content_block {
        word-break: break-all;

        .content_text {
            span::first-letter {
                text-transform: uppercase;
            }
        }
    }
}
