.PairPicker_assetPair {
    padding: 16px 18px 20px;
}

.PairPicker_marketsTable{
    width: 100%;
    padding: 0 20px 20px;
    display: flex;
    flex-direction: column;


    .PairPicker_marketsTable-header{
        display: flex;
        width: 100%;

        span{
            flex: 2;
            font-size: 16px;
            font-weight: 300;
            color: #505558;

            &:nth-child(3) {
                flex: 1.3;
            }

            &:nth-child(2) {
                flex: 1.5;
            }

            &:nth-child(6) {
                flex: 1.5;
            }
        }
    }

    .PairPicker_marketsTable-content{
        display: flex;
        width: 100%;

        span{
            flex: 2;
            font-size: 18px;
            font-weight: 600;
            color: #252625;

            &:nth-child(3) {
                flex: 1.3;
            }

            &:nth-child(2) {
                flex: 1.5;
            }

            &:nth-child(6) {
                flex: 1.5;
            }

            &.negative > span{
                color: #ff415b;
            }

            &.positive > span{
                color: #69c76f;
            }

            &.up {
                animation-name: up;
                -webkit-animation-name: up;
                -moz-animation-name: up;
                -o-animation-name: up;

                animation-duration: 1s;
                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                -o-animation-duration: 1s;


                @keyframes up {
                    from {background-color: #00ff00;}
                    to {background-color: #fff;}
                }

                @-webkit-keyframes up {
                    from {background-color: #00ff00;}
                    to {background-color: #fff;}
                }

                @-moz-keyframes up {
                    from {background-color: #00ff00;}
                    to {background-color: #fff;}
                }

                @-o-keyframes up {
                    from {background-color: #00ff00;}
                    to {background-color: #fff;}
                }
            }

            &.down {
                animation-name: down;
                -webkit-animation-name: down;
                -moz-animation-name: down;
                -o-animation-name: down;

                animation-duration: 1s;
                -webkit-animation-duration: 1s;
                -moz-animation-duration: 1s;
                -o-animation-duration: 1s;

                @keyframes down {
                    from {background-color: #ff0000;}
                    to {background-color: #fff;}
                }

                @-webkit-keyframes down {
                    from {background-color: #ff0000;}
                    to {background-color: #fff;}
                }

                @-moz-keyframes down {
                    from {background-color: #ff0000;}
                    to {background-color: #fff;}
                }

                @-o-keyframes down {
                    from {background-color: #ff0000;}
                    to {background-color: #fff;}
                }
            }
        }
    }
}
