.Federation_input {
    input {
        font-size: 24px;
        padding: 0;
        color: #505558;
        font-weight: 600;
        background: transparent;
        border: none;

        &:focus {
            outline: none;
        }

        &::placeholder {
            opacity: 0.85;
        }

        &::-ms-clear {
            display: none;
        }
    }

    span {
        font-size: 24px;
        color: #505558;
        font-weight: 600;
        opacity: 0.3;
    }
}
