@import './ErrorBoundary/ErrorBoundary';
@import './SearchByAnchor/SearchByAnchor';
@import './AssetRow/AssetRow';
@import './CopyButton/CopyButton';
@import 'AssetCard/AssetCardMain/AssetCardMain';
@import 'AssetCard/AssetCardInRow/AssetCardInRow';
@import 'AssetCard/AssetCardSeparateLogo/AssetCardSeparateLogo';
@import './AssetPair/AssetPair';
@import './AssetList/AssetList';
@import './Ellipsis/Ellipsis';
@import './Loading/Loading';
@import './Generic/Generic';
@import './AppPopover/AppPopover';
@import './InfoBlock/InfoBlock';
@import './SignChallengeBlock/SignChallengeBlock';
@import "./Input/Input";

@mixin textEllipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

@mixin breakWord {
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
}

@mixin errorText {
    color: #fe6d74;
}
