@import "./FederationInput/FederationInput";

.Federations_block {
    border-top: 1px solid #ddd;
    width: 100%;
    left: calc(-18px);
    padding: 20px 0;
    padding-bottom: 0px;

    .alert_isEditing {
        box-shadow: 0 0 1px 1px hsl(125, 47%, 68%);
    }

    .Account_alert {
        align-items: center;
        min-height: 80px;

        button {
            width: 108px;
            padding: 0.4em 1.8em 0.4em 1.8em;
            font-weight: normal;
            border-radius: 2px;
            box-shadow: none;

            &:focus {
                outline: none;
            }
        }

        button.b_transparent {
            border: solid 1px #5eb464;
            background-color: Transparent;
            color: #69c76f;

            &:hover {
                background-color: Transparent;
                border: solid 1px #69c76f;
                color: #69c76f;
            }

            &:active {
                opacity: 0.9;
                border: solid 1px #5eb464;
                color: #5eb464;
            }
        }
    }

    .Account_alert_left {
        width: 100%;
        max-width: 700px;
        overflow-x: auto;

        .no_federation_text {
            display: flex;
            height: 100%;
            align-items: center;
        }
    }

    .bordered_federation{
        border-right: 1px solid #69c76f;
    }

    .Account_alert_right {
        button {
            margin-left: 1.25em;

            &:last-child {
                margin-right: 1.25em;
            }
        }
    }

    .Federation_warning {
        margin-bottom: 0.3em;
        margin-top: -0.5em;
        padding: 0 0 0 17px;
        color: #e33c4c;
        font-weight: normal;

        span {
            height: 24px;
            line-height: 24px;
            display: inline-block;
            vertical-align: middle;

            img {
                height: inherit;
            }
        }
    }
}
