.LoginLink{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 17px;
    padding-right: 14px;
    height: 65px;
    width: 215px;
    cursor: pointer;
    transition: all 0.15s ease-in;
    text-decoration: none;
    border: 1px solid #f2f2f2;
    background-color: #fdfdfd;
    box-sizing: border-box;
    position: relative;

    .narrow & {
        width: 199px;
    }

    &:hover{
        background-color: #fbfbfc;
        padding-right: 9px;
    }

    .LoginLink_wrap {
        display: flex;
        flex-direction: row;
        align-items: center;

        .LoginLink_logo {
            display: flex;
            align-items: center;
            margin-right: 10px;

            img {
                height: 32px;
                width: 32px;
            }
        }

        .LoginLink_description {
            font-size: 14px;
            font-weight: normal;
            color: #1c2e3e;
            line-height: 13px;
        }
    }

    .LoginLink_beta {
        color: #1c2e3e;
        opacity: 0.5;
        font-size: 10px;
        font-weight: normal;
        font-style: italic;
    }
}

.LoginLink_lobstr-tooltip {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    left: -1px;
    bottom: calc(100% + 1px);
    opacity: 0.9;
    background-color: #69c76f;
    border: 1px solid #69c76f;
    border-radius: 2px;
    width: 182px;
    height: 36px;
    color: #fff;
    font-size: 13px;
    font-weight: 300;

    img {
        margin-right: 8px;
    }

    &::after {
        content: '';
        display: block;
        position: absolute;
        height: 0;
        width: 0;
        left: 30px;
        top: calc(100% + 1px);
        border-top: 8px solid #69c76f;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
    }
}
