.EditOfferModal{
    background-color: #fff;
    width: 521px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    .EditOfferModal_content {
        padding: 30px 28px 30px 44px;
    }

    .EditOfferModal_switch-block{
        width: 100%;
        padding: 20px 42px;
        background-color: #FAFAFB;
        font-size: 14px;
        font-weight: normal;
        line-height: normal;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;

        .EditOfferModal_switch-description{
            display: flex;
            flex-direction: column;

            .EditOfferModal_switch-description-question{
                color: #aaadae;
            }

            .EditOfferModal_switch-description-button{
                display: flex;
                margin-top: 5px;
                color: #69c76f;
                cursor: pointer;
                img{
                    margin-left: -5px;
                    margin-right: 5px;
                }

                span{
                    border-bottom: 1px dotted #69c76f;
                    height: 100%;
                }
            }
        }

    }
}
