.SecretPhraseSetup{
    background-color: #fff;
    width: 612px;
    margin: 0 auto;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);

    .SecretPhraseSetup_wrap{
        padding: 40px 33px 50px;
        font-size: 14px;
        font-weight: normal;
        color: #9aa6ac;

        .SecretPhraseSetup_title{
            color: #505558;
        }

        .SecretPhraseSetup_description{
            display: block;
            list-style-position: inside;
            list-style-type: none;
            margin-bottom: 10px;

            .SecretPhraseSetup_description-item {
                display: flex;
                flex-direction: row;
                padding-bottom: 10px;

                &::before{
                    line-height: 18px;
                    display: block;
                    color: #68c86f;
                    content: '·';
                    font-size: 40px;
                    font-style: normal;
                    margin-right: 9px;
                }
            }
        }

        .SecretPhraseSetup_label{
            color: #505558;
            margin-bottom: 3px;
            margin-top: 40px;
        }

        .SecretPhraseSetup_generate{
            color: #69c76f;
            border-bottom: 1px dotted #69c76f;
            float: right;
            margin-top: 5px;
            margin-bottom: 33px;
            cursor: pointer;
        }

        .Modal_button-block{
            margin-bottom: 0;
            padding-right: 0;
            font-weight: 300;
            font-size: 16px;

        }
    }
}
